<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center" id="i18_skills">
            <div class="navy-line"></div>
            <h1><span data-i18n="skills.my_skills">Research & Expertise</span></h1>
        </div>
    </div>
    <div class="row features-block">
        <div class="wow zoomIn col-lg-6 col-lg-offset-3">
            <canvas id="{{ site.data.index.interests.id }}" height="666" width="1100"></canvas>
        </div>
        <div class="col-lg-1"></div>
        <script>
        var ctx = document.getElementById("{{ site.data.index.interests.id }}");
        var data = {
            labels: "{{ site.data.index.interests.aspects }}".split(","),
            datasets: [{
                backgroundColor: "rgba(179,181,198,0.2)",
                data: [{{site.data.index.interests.percentage }}]
                }]
        };
        var myRadarChart = new Chart(ctx, {
            type: 'horizontalBar',
            data: data,
            options: {legend:{display:false},
                    scales: {
                        yAxes:[{scaleLabel:{display: true,
                            labelString:'Research Interest'}}],
                        xAxes: [{scaleLabel: {
                            display: true,
                            labelString: 'Expertise (%)'
                                },
                            display: true,
                            ticks: {
                                suggestedMin: 7
                            }
                        }]
                    }
                    },
                    plugins: [{
    beforeInit: function (chart) {
      chart.data.labels.forEach(function (label, index, labelsArr) {
        if (/\n/.test(label)) {
          labelsArr[index] = label.split(/\n/)
        }
      })
    }
  }]
});
        </script>
    </div>
</div>
